<%- include("common/_head", { page: json['top'] }) %>
  <%- include("common/_header") %>
    <main>
      <section>
        <div>

        </div>
      </section>
    </main>
    <%- include("common/_footer") %>
      <%- include("common/_scripts") %>
